@import '~antd/es/style/themes/default.less';

.tab {
    @media screen and (max-width: @screen-xl) {
        width: 50%;
    }
    @media screen and (max-width: @screen-lg) {
        width: 55%;
    }
    @media screen and (max-width: @screen-md) {
        width: 60%;
    }
}